.container {
  display: flex;
  flex-direction: column;

}

.container > label {
  display: flex;
  margin-bottom: 10px;

}

.container > label > span {
  width: 10%;
  margin: auto;
  margin-right: 10px;
  text-align: left;
}
.container > label > input {
  width: 80%;
  margin: auto;
  margin-right: 10px;
}
